apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: 'https://github.com/vijaykankane/shopNow-E2E'
    targetRevision: HEAD
    path: kubernetes/helm/charts/frontend
    helm:
      valueFiles: []
      releaseName: frontend
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: vijay
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
